<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu solicitud fue aceptada!!</h1>
    <p>
      Hola <%= @user.name%>
      felizmente <%= @partner.name %>  puede ser tu pareja. En nuestra página puedes encontrar gente para desafiar!!<br>
    </p>
    <p>
      Puedes entrar a la página a traves del siguiente link <%= @@url %>.
    </p>
    <p>Suerte. Mouses</p>
  </body>
</html>