<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tienes una solicitud de pareja para la escalerilla</h1>
    <p>
      Hola <%= @partner.name%>
      Tienes una solicitud de <%= @user.name %> para ser su pareja <br>
    </p>
    <p>
      Puedes entrar a la página a traves del siguiente link <%= @@url %> y aceptar o declinarla.
    </p>
    <p>Suerte. Mouses</p>
  </body>
</html>