<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Campeonatos La Taberna, <%= @user.name %></h1>
    <p>
      Te has inscrito como <%= @user.login %>.<br>
    </p>
    <p>
      Puedes entrar a la página a traves del siguiente link <%= @@url %>.
    </p>
    <p>Suerte. Mouses</p>
  </body>
</html>