<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hola <%= @user.name%>
      lamentablemente <%= @partner.name %>  no puede ser su pareja. En nuestra página puedes encontrar más opciones!!<br>
    </p>
    <p>
      Puedes entrar a la página a traves del siguiente link <%= @@url %>.
    </p>
    <p>Suerte. Mouses</p>
  </body>
</html>